body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}


.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-image: radial-gradient(#4719FF,#2300AD);

}

.App-SearchBox{
display:grid;
grid-template-columns: 1fr;
}

.App-SearchBox h1{
  color:#FADF00;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

.App-SearchBox p{
  margin-left:-300px;
  font-size:18px;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




